<form #addEditMovieForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="movie.name" required (input)="clearExistsError()"/>
  </div>
  <div>
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" [(ngModel)]="movie.category" required/>    
  </div>
  <div>
    <label for="rating">Rating:</label>
    <input type="number" min="1" max="5" id="rating" name="rating" [(ngModel)]="movie.rating" required/>    
  </div>
  <div *ngIf="existsError">
    Movie already exists.
  </div>
  <button type="submit" [disabled]="addEditMovieForm.invalid || existsError">Save</button>
  <button routerLink="">Cancel</button>
</form>